<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Chemical Engineering</h1>
            <span>Texas Tech University</span>
            <span><address>Lubbock, TX</address><time>2009 to 2014</time></span>
        </header>
        <p>
            <em>Thesis: Thermal Conversion and Storage: modeling</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.S. in Bioengineering</h1>
            <span>Nanjing University of Technology</span>
            <span><address>Nanjing, China</address><time>2003 to 2007</time></span>
        </header>
    </article>
</section>
