<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>EEDP Engineer</h1>
            <span><address>General Electric, Shanghai China</address><time>2016 to 2017</time></span>
        </header>
        <p>Performed detailed model for thermal power plant system for thermal storage and local heating </p>
    </article>
    <article>
        <header>
            <h1>Research Engineer(contractor)</h1>
            <span><address>ALSTOM Power, Windsor CT</address><time>2014 to 2015</time></span>
        </header>
        <p>Analyzed thermal plant historical data, selected data sets for model validation.
            Proposed parameter auto-tuning method to increase processing efficiency. </p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>Texas Tech University, Lubbock, TX</address><time>2009 to 2014</time></span>
        </header>
        <p>Designed novel chemical processes to solve solar energy intermittency problems with the technology
            of energy storage and quantified the design with numerical models.
           Proposed half-numerical model for two-phase flow for solar collector/receiver system, illustrated
           convenient application with case study of cost optimization.   </p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>East China University of Sci. & Tech., Shanghai, China</address><time>2013</time></span>
        </header>
        <p>Built kinetic model for petrochemical reactions</p>
    </article>
</section>
