<section class="thirteen columns">
    <h1>Selected Publications</h1>
    <article>
        <p>
        Rong Xu, Ted Wiesner Ph.D., P.E., Closed-form modeling of direct steam generation in a parabolic trough solar receiver. Energy-The Int. J., 2015.
        <p>
        Rong Xu, Ted Wiesner Ph.D., P.E., Conceptual design of a two-step solar hydrogen thermochemical cycle with thermal Storage in a reaction intermediate.
        Int. J. of Hydrogen Energy. 39 (24), 2014. (Award as Key Scientific Article)
        <p>
        Rong Xu, Ted Wiesner Ph.D., P.E., Dynamic model of a solar thermochemical water-splitting reactor with integrated energy collection and storage,
        International Journal of Hydrogen Energy, 2012.
        <p>
        Rong Xu, Guolong Wang, Xilan Lu, Ph.D., Hydrogenation kinetics of Shenhua coal liquefaction residue. CIESC Journal 60(11): 2749-2754.2009.
        </p>
    </article>
</section>
